* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Information {
    display: flex;
}

.Information>.address {
    margin: auto;
}

.address>.address_item a {
    text-decoration: none;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
    font-size: 50px;
    color: black;
}

.Information a p {
    margin-left: 25px;
    font-size: 20px;
}

.Information a p:hover {
    opacity: 0.5;
}

.address_item.facebook i:hover {
    color: rgb(107, 107, 233);
}

.address_item.instagram i:hover {
    color: #e95950;
}

.address_item.youtube i:hover {
    color: rgb(240, 27, 27);
}

.address_item.twitter i:hover {
    color: rgb(29, 161, 242);
}